ul{
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
ul > li > span {
  font-size: 18px;
  font-weight: 400;
}
.task-complete{
  text-decoration: line-through;
}
