ul{
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul > li > span {
  font-size: 18px;
  font-weight: 400;
}
