.todo-list{

}
.list-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: black;
}

.list-button{
  border: none;
  outline: none;
  height: 50px;
  margin-right: 10px;
  font-size: 20px !important;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
.list-button:hover{
  background-color: #d0d0d0;
  transition: all ease 0.4s;
}

.list-input{
  margin-left: 10px;
  margin-right: 10px;
}
.task-complete{
  text-decoration: line-through;
}
.list-text{
  max-width: 80%;
  text-align: center;
}
