<div>
  <form [formGroup]="userSignUpFormGroup">
    <input formControlName="email" type="text" placeholder="your email">
    <input formControlName="surname" type="text" placeholder="your surname">
    <select formControlName="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="dontKnow">I dont know</option>
    </select>
    <input formControlName="phone" type="text" placeholder="your phone">
    <input formControlName="country" type="text" placeholder="your country">
    <input formControlName="password" type="password" placeholder="password">
    <input formControlName="repeatPassword" type="password" placeholder="repeat your password">
  </form>
  <button (click)="signUpClick(userSignUp)">SignUp</button>
</div>
